<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Please confirm a new device</title>
  <body>
    <h2>Hi there,

    $maybe deviceIP <- maybeDeviceIP
        <p>A new device contacted us from the IP address #{deviceIP}.
    $nothing
        <p>A new device contacted us.
    <p>For additional safety we'd like you to confirm that this device really belongs to you by clicking the following link: <a href="#{serverBase}/mitro-core/user/VerifyDevice?#{urlEncodeVars [("token", messageExtra), ("token_signature", messageToken), ("user", messageUser)]}">this link</a>
    <p>Please ignore this message if you didn't use any new devices recently.

    <p>All the best & stay safe,<br>Team Passopolis
