<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Passopolis recorded your first secret!
  <body>
    <h2>Hi there,

    <p>We recorded your first secret, nicely done!

    <p>We care about a your safety and a good experience, so please let us know how you are (or aren't) getting on.

    <p>All the best & stay safe,<br>Team Passopolis
